// Typography
$navLinksFont: 1.3em
$headerTitleFont: 5em
$headerSubtitleFont: 2.5em
$sectionTitleFont: 2.5em
$cardTitleFont: 2em
$cardRoleFont: 1.5em
$tourDescFont: 1.5em
$navLinksFontMobile: 1em
$headerTitleFontMobile: 2.5em
$headerSubtitleFontMobile: 1.5em
$sectionTitleFontMobile: 1.75em
$cardTitleFontMobile: 1.75em
$cardRoleFontMobile: 1.25em
$tourDescFontMobile: 1.25em
// Color
$primaryColor: #795548
$primaryColorDark: #5d4037
$primaryColorLight: #d7ccc8
$accentColor: #4caf50
$primaryTextColor: #fff
$secondaryTextColor: #212121
$secondaryTextColorLight: #757575
$dividerColor: #bdbdbd

// Layout
$gutterWidth: 30px
$sectionPadding: 10vh 0
$sectionTitlePaddingBottom: 10vh
