// Typography
$typeface: "Oswald", sans-serif
$mainTitle: 3.75em
$headerParagraph: 2em
$contentParagraph: 1.125em
$navLinksSize: 3vh
$tourTitle: 7vh

// Colors
$textColor: #fff
$secondaryTextColor: #333
$whiteBg: #fff
$lightGreyBg: #f8f8f8
$primaryColor: #43a047
$footerBg: #333

// Layout
$gutterWidth: 30px
$sectionPadding: 10vh 0
