// Typography
$typeface: "Montserrat", sans-serif;
$header-subtitle-font-size: 35px;
$header-title-font-size: 60px;
$header-p-font-size: 24px;
$section-title-font-size: 36px;
$content-heading-font-size: 24px;
$content-paragraph-font-size: 18px;
$app-availability-font-size: 35px;
$footer-heading: 14px;
$footer-paragraph: 14px;
$mobile-header-title-font-size: 36px;
$mobile-header-subtitle-font-size: 24px;
$mobile-header-p-font-size: 17px;
$mobile-section-title-font-size: 24px;
$mobile-content-heading-font-size: 20px;
$mobile-content-paragraph-font-size: 14px;
$label-font-size: 14px;
$input-font-size: 14px;

// Colors
$primary-color: #333;
$secondary-color: #fccd01;
$section-bg-color: #fff;
$form-div-bg-color: #eff0f2;
$text-color: #fff;
$btn-hover: #ffe066;
$error-bg: #fff6f6;
$error-border: #e0b4b4;
$error-text-color: #e52d42;

// Grid
$mobile-container: 100%;
$tablet-container: 738px;
$desktop-container: 1242px;
$mobile-padding: 30px;
$gutter-width: 30px;
